{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load post_tag %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{% endif %}

<h3 class="card border-bottom mt-6 mb-3 bg-dark text-light p-2">المشاركات</h3>
  <div class="row mb-4 wow fadeIn">

                     {% baner %}
</div>


<div class="border p-3 mb-4 mt-3 text-center bg-light">

  <form method="get">
    {{ filter.form|crispy }}
    <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit">ابحث</button>
  </form>
                </div>

<section>
  <br/>
  <div class="row mb-4 wow fadeIn">

{% for post in fo %}
<div class="col-lg-4 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <a href="{% url 'detail' post.slug %}"><div class=" text-center"><img class="card-img-top"   src="{{post.ImageURL}}"  class="card-img-top" alt=""></div></a>
                <a href="{% url 'detail' post.slug %}" target="_blank">
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body text-center" style="
    padding-top: 3px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
">
                <!--Title-->
                <a class="text-dark "style="  text-decoration: none;
" href="{% url 'detail' post.slug %} "><h5 class="card-title">{{post.title}}</h5></a>
                <!--Text-->


              </div>


            </div>
            <!--/.Card-->

          </div>
{% endfor %}
   </div>
</section>

{% include 'blog/pagination.html' with page=fo %}

{% endblock content %}
