{% load static %}
{% load post_tag %}


<!DOCTYPE html>

<html lang="ar" >
<head>
{% if title %}
  <title>{{title}}</title>
{% else %}
  <title>power</title>
{% endif %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'Power/css/bootstrab.css' %}">
    <link rel="stylesheet" href="{% static 'Power/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'Power/images/faviimage.png' %}">
    {% scripts %}
</head>
<body >
<header>
    <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark  ">
  <a class="navbar-brand  " href="{% url 'home'%}"><h1 class="text-light">دروس السعوديه</h1>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link btn-inline-primary my-2 my-sm-0" href="{% url 'home'%}">الرئيسيه <span class="sr-only">(current)</span></a>
      </li>
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>


      <li class="nav-item dropdown">
        <a class="btn-outline-primary my-2 my-sm-0 nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ترتيب حسب
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-primary" href="/most-watched"><i class="fas fa-eye"></i> الأكثر مشاهده&nbsp;</a>
          <a class="dropdown-item text-primary" href="/most-rated"><i class="fas fa-star"></i> &nbsp;&nbsp;الأعلى تقييما</a>
          <a class="dropdown-item text-primary" href="/newest"><i class="fas fa-clock"></i>&nbsp;&nbsp;الأحدث </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
               <li class="nav-item active">
         <a class=" nav-link btn-outline-primary my-2 my-sm-0" href="{% url 'about' %}">حول</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
        <li class="nav-item active">
         <a class=" nav-link btn-outline-primary my-2 my-sm-0" href="{% url 'contact' %}">اتصل بنا</a>
      </li>
            </ul>

             {% if user.is_authenticated %}

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item "><a class="nav-link text-primary" href="{% url 'profile' %}">الملف الشخصي</a></li>
                    <li class="nav-item"><a class="nav-link text-primary" href="{% url 'logout' %}">تسجيل خروج</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link  text-primary" href="{% url 'login' %}">تسجيل دخول</a></li>
                    <li class="nav-item"><a class="nav-link  text-primary" href="{% url 'register' %}">تسجيل</a></li>
                </ul>
             {% endif %}


    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'searchposts' %}" method="GET" value="{{request.GET.q}}">
      <input name="q" value="{{request.GET.q}}" class="form-control mr-sm-4" type="search" placeholder="" aria-label="Search" >
      <button class="btn btn-outline-primary my-2 my-sm-0"  type="submit" name="submit" value="Search">البحث</button>
    </form>

  </div>
</nav>

</header>
<section>
  <div class="container">
    <div class="row mt-4 " >
      <div class="col-md-9 ">
          {% block content %}

          {% endblock content %}
  <div class="row mb-4 wow fadeIn text-center">

                     {% baner %}
</div>
          </div>




      <div class="col-md-3">
        <div class="card mb-1 ">
          <h3 class="text-center bg-dark  text-light  p-2"> المضاف حديثا</h3>
          {% latest_posts %}

        </div>
        <div class="card mb-1 ">
          <h3 class="text-center bg-dark mb-3 text-light  p-2">  آخر تعليقات</h3>
          {% latest_comments %}


        </div>
           {% slidebaner %}

      </div>

    </div>
  </div>
</section>


<footer class="bd-footer bg-dark text-muted" >

  <div class="container fluid">

    <div class="row">
      <div class="col-md">
        <div class="card-group m-2">

          <div class="card bg-light">
              <a class="nav-link"  ></a>

            <h3 class="card-title text-center text-dark border-bottom  p-2 md-2" >

            </h3>
            <div class="card-body text-center">
              <h5>دروس السعوديه</h5>
                <span>تجميع لكل الدروس موجوده في اليوتيوب
لجميع المراحل الدراسية</span>
                <br/>
                                <br/>

              <h3><a  href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a> </h3>

            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="row p-2">
      <div class="col-md text-center">
        <small class="text-light"> &copy; جميع الحقوق محفوظه لدي دروس السعوديه</small>
      </div>
    </div>
  </div>
</footer>

<script src="{% static 'Power\js\jquery.js'%}"></script>
<script src="{% static 'Power\js\popper.js'%}"></script>
<script src="{% static 'Power\js\fontawsome.js'%}"></script>
<script src="{% static 'Power\js\bootstrp.js'%}"></script>
</body>
</html>